<p id="notice"><%= notice %></p>

<p>
  <strong>Play style:</strong>
  <%= @match.play_style %>
</p>

<p>
  <strong>Players min:</strong>
  <%= @match.players_min %>
</p>

<p>
  <strong>Players max:</strong>
  <%= @match.players_max %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @match.gender %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @match.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @match.end_time %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
