<p id="notice"><%= notice %></p>

<p>
  <strong>Indoor outdoor:</strong>
  <%= @field.indoor_outdoor %>
</p>

<p>
  <strong>Name:</strong>
  <%= @field.name %>
</p>

<p>
  <strong>Earliest time restriction:</strong>
  <%= @field.earliest_time_restriction %>
</p>

<p>
  <strong>Latest time restriction:</strong>
  <%= @field.latest_time_restriction %>
</p>

<p>
  <strong>Surface type:</strong>
  <%= @field.surface_type %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
